body, html {
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    overflow: hidden;

}

/* Scrollbar width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
  }
  
  /* Scrollbar Thumb */
  ::-webkit-scrollbar-thumb {
    background: #000000; 
    border-radius: 10px;
  }
  
  /* Scrollbar Thumb on Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }